/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #272727; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*Selection / Highlight*/
/*** Works on common browsers ***/
::selection {
	background-color: #ebe3d5;
	color: #1a1b1a;
}

/*** Mozilla based browsers ***/
::-moz-selection {
	background-color: #ebe3d5;
	color: #1a1b1a;
}

/***For Other Browsers ***/
::-o-selection {
	background-color: #ebe3d5;
	color: #1a1b1a;
}

::-ms-selection {
	background-color: #ebe3d5;
	color: #1a1b1a;
}

/*** For Webkit ***/
::-webkit-selection {
	background-color: #ebe3d5;
	color: #1a1b1a;
}

html, body {
    background: #1a1b1a;
    color: #ebe3d5;
    font-family: Times New Roman, Arial;
    /*font-family: Arial;*/
    font-size: 13pt;
}

h1 {
    text-align: center;
    margin-top: 1em;
}

h2 {
    /*text-align: center;*/
    /*color: #4a60a3;*/
    color: #5769a1;
    margin-top: 1.5em;
}

a {
    color: #4a60a3;
}

table, th, td {
    border: 1px solid black;
}

table {
    margin: auto;
}

td {
    padding: 0.5em 1em 0.5em 1em;
}

code {
    /*background: #1a1b1a;*/
    color: #eb5e5e;
    font-size: 11pt;
    border-radius: 1.5pt;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.2em;
}

.quote {
	width: 90%;
	margin: auto;
    color: #ffe4b3;
	text-align: center;
}

.div-block {
    /*width: 55em;*/
    margin: auto;
    padding: 0 1.5em 0 1.5em;
}

.container {
	width: 98%;
    max-width: 58em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 0.25em;
    -moz-box-shadow: 0 0 10px 8px #131313;
    -webkit-box-shadow: 0 0 15px 8px #131313;
    box-shadow: 0 0 10px 8px #131313;
}

.grid-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
}

.seperator {
	width: 75%;
    max-width: 40em;
    height: 0.15em;
    margin: auto;
    background: gray;
}

.gradient {
    height: 15em;
    color: transparent;
    background: #f54242;
    background: -webkit-linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);
    background: -o-linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);
    background: linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);

    /*background: -webkit-linear-gradient(left, #35bbca, #0191b4, #f8d90f, #d3dd18, #fe7a15);*/
    /*background: -o-linear-gradient(left, #35bbca, #0191b4, #f8d90f, #d3dd18, #fe7a15);*/
    /*background: linear-gradient(left, #35bbca, #0191b4, #f8d90f, #d3dd18, #fe7a15);*/
    
    /*background: -webkit-linear-gradient(left, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);*/
    /*background: -o-linear-gradient(right, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);*/
    /*background: linear-gradient(to right, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);*/

    /*background: -webkit-linear-gradient(left, orange, yellow, cyan);*/
    /*background: -o-linear-gradient(right, orange, yellow, cyan);*/
    /*background: linear-gradient(to right, orange, yellow, cyan);*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
}

.gradient-box {
    height: 0.1em;
    margin: auto;
	margin-top: -0.2em;
	margin-bottom: -0.175em;
    color: transparent;
    background: #f54242;
    background: -webkit-linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);
    background: -o-linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);
    background: linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);
}

.pagestop {
    height: 0.1em;
    margin-top: 2em;
}

.footer {
    margin-bottom: 2em;
    color: gray;
    text-align: center;
}

.favicon-to-come {
    width: 99vw;
    height: 98vh;
    margin: auto;
    color: transparent;
    background: #f54242;
    /*background: -webkit-linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);*/
    /*background:      -o-linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);*/
    /*background:         linear-gradient(left, #e1f5c4, #ede574, #f9d423, #fc913a, #ff4e50);*/
    /*background: -webkit-linear-gradient(left, #dc8665, #138086, #534666, #cd7672, #eeb462);*/
    /*background:      -o-linear-gradient(left, #dc8665, #138086, #534666, #cd7672, #eeb462);*/
    /*background:         linear-gradient(left, #dc8665, #138086, #534666, #cd7672, #eeb462);*/
    /*background: -webkit-linear-gradient(left, #ff7b89, #8a5082, #6f5f90, #758eb7, #a5cad2);*/
    /*background:      -o-linear-gradient(left, #ff7b89, #8a5082, #6f5f90, #758eb7, #a5cad2);*/
    /*background:         linear-gradient(left, #ff7b89, #8a5082, #6f5f90, #758eb7, #a5cad2);*/
    /*background: -webkit-linear-gradient(left, #df825f, #f8956f, #dfb15b, #4d446f, #706695);*/
    /*background:      -o-linear-gradient(left, #df825f, #f8956f, #dfb15b, #4d446f, #706695);*/
    /*background:         linear-gradient(left, #df825f, #f8956f, #dfb15b, #4d446f, #706695);*/
    /*background: -webkit-linear-gradient(left, #264d59, #43978d, #f9e07f, #f9ad6a, #d46c4e);*/
    /*background:      -o-linear-gradient(left, #264d59, #43978d, #f9e07f, #f9ad6a, #d46c4e);*/
    /*background:         linear-gradient(left, #264d59, #43978d, #f9e07f, #f9ad6a, #d46c4e);*/
    /*background: -webkit-linear-gradient(right, #c73866, #fe676e, #fd8f52, #ffbd71, #ffdca2);*/
    /*background:      -o-linear-gradient(right, #c73866, #fe676e, #fd8f52, #ffbd71, #ffdca2);*/
    /*background:         linear-gradient(right, #c73866, #fe676e, #fd8f52, #ffbd71, #ffdca2);*/
    /*background: -webkit-linear-gradient(right, #7e9680, #79616f, #ae6378, #d87f81, #eab595);*/
    /*background:      -o-linear-gradient(right, #7e9680, #79616f, #ae6378, #d87f81, #eab595);*/
    /*background:         linear-gradient(right, #7e9680, #79616f, #ae6378, #d87f81, #eab595);*/
    /*background: -webkit-linear-gradient(right, #478ba2, #de5b6d, #e9765b, #f2a490, #b9d4db);*/
    /*background:      -o-linear-gradient(right, #478ba2, #de5b6d, #e9765b, #f2a490, #b9d4db);*/
    /*background:         linear-gradient(right, #478ba2, #de5b6d, #e9765b, #f2a490, #b9d4db);*/
    /*background: -webkit-linear-gradient(right, #f5cec7, #e79796, #ffc98b, #ffb284, #c6c09c);*/
    /*background:      -o-linear-gradient(right, #f5cec7, #e79796, #ffc98b, #ffb284, #c6c09c);*/
    /*background:         linear-gradient(right, #f5cec7, #e79796, #ffc98b, #ffb284, #c6c09c);*/
    background: -webkit-linear-gradient(left, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
    background:      -o-linear-gradient(left, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
    background:         linear-gradient(left, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);
}

.answer {
    /*border: 2px solid yellow; */
    /*border: 2px solid #ffe46b;*/
    border: 2px solid #ffe159;
    margin: 1em;
}

#contact-info {
    margin: auto;
    margin-bottom: 1.5em; 
    border: 2px solid gray; 
	width: 90%;
    max-width: 18em; 
    padding: 0.5em;
}

